* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 40px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0; /* force header to stick up top when fixed */
  right: 0; /* force header to stretch to right side when fixed */
  left: 0; /* force header to stretch to left side when fixed */
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  float: left; /* test */
}

.logo p {
  margin-left: 10px;
  color: MediumAquamarine;
}

nav a {
  color: black;
  margin-left: 20px;
}

main {
  border: 1px solid black;
  width: 1240px; /* 600+300+240+35+35 */
  margin-top: 80px; /* to keep clear of 80px-high header */
  padding-top: 35px; /* just to recreate whitespace on top */
  padding-right: 40px; /* just to recreate whitespace on right */
  display: flex; /* will hold three columns as flex items */
}

.column {
  border: 1px solid black;
  display: flex; /* will hold articles as flex items */
  flex-direction: column; /* major axis is downwards */
}

.left {
  margin-right: 35px; /* to recreate whitespace b/w columns */
  flex: 0 0 630px; /* to stop column from changing widths */
}

.middle {
  margin-right: 35px; /* to recreate whitespace b/w columns */
  flex: 0 0 300px; /* to stop column from changing widths */
}

.right {
  flex: 0 0 240px; /* to stop column from changing widths */
}

.article {
  border: 1px solid black;
}

.with-image {
  margin: 0;
}
